<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem</title>
</head>
<body>
    
    <h2>Bem vindo</h2>
    <ul>
        {% for transacao in transacoes %}
            <li><a href="{% url 'url_update' transacao.id %}">Nome: {{transacao}}</li>
            <li> Valor: {{transacao.valor}}</li>
            <li> Data: {{transacao.data}}</li>
            <li> Tipo de transação: <b> {{transacao.tipo_de_transacao}} </b></li></a> 
            <br>
        {% endfor %}
    </ul>
    
</body>
</html>